<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tankerkw.tnadmin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tankericon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tankericon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Reservation" />
        <activity android:name=".Support" />
        <activity android:name=".About" />
        <activity android:name=".MyTrips" />
        <activity android:name=".Update" />
        <activity android:name=".HomePAge" />
        <activity android:name=".ProviderInfo" />
        <activity android:name=".Map" />
        <activity android:name=".MainActivity">

        </activity>

        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="con.tankerkw.tnuser" />
            </intent-filter>
        </receiver>

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBa47VILY3txPdQesJ1Jfx1sdppdu0Qub4" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name=".MyService"
            android:process=":my_service" />
    </application>

</manifest>